<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <br>
    <br>
    <p>Thanks,</p>
    <p>Snaps Like App</p>
  </body>
</html>
