<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p><%= "Order Update Status" %></p>
    <br>
    <br>
    <p><b>order_number: </b> <%= @order.order_number %></p>
    <p><b>Current status of you order is -> <%= @order.ship_rocket_status %></b></p>
    <br>
    <br>
    <p>Thanks,</p>
    <p>Snaps Like App</p>
  </body>
</html>
